<!DOCTYPE html>
<html lang="en"
         xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CoffeeShop Home Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/homePageStyle.css}">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <script th:src="@{/js/alerts.js}"></script>

</head>
<body>
<script src="js/activeCatalogSearch.js"></script>
<div class="homepage">
    <nav>
        <div class="coffeeshoplogo">
            <img th:src="@{/img/CoffeeLogo.jpg}" class="logo-img">
           ~ Coffee Shop ~
        </div>
        <ul class = "navigation-options">
            <li><a th:href="@{homePage}">Catalog</a></li>

            <li>
                <img th:src="@{/img/download.png}" class="cart-picture">
                <a href="#">My Cart</a>
            </li>
            <li>
                <img th:src="@{/img/contact_img.png}" class="contact-picture">
                <a th:href="@{/homePage/contactPage}">Contact</a>
            </li>
            <li>
                <img th:src="@{/img/login.png}" class="login-picture">
                <a th:href="@{/homePage/loginPage}">Log In</a>
            </li>
            <li>
                <img th:src="@{/img/register_logo.jpg}" class="register-logo">

                <a th:href="@{/homePage/registerPage}">Register</a>
            </li>

        </ul>
    </nav>


    <div class="espresso-coffee">

        <!--Here I will Add the Coffee Beverages *** -->

        <div class="espresso-details">

            <img class="espresso-img" th:src="@{/img/espresso.jpg}" alt="espresso-img">
           <div class="espresso-title">
               Espresso
               <div class="espresso-info">
                   <ul>
                       <li>
                           60 ml / cup
                       </li>
                       <li>
                           1 cup = 6 RON
                       </li>
                   </ul>
                   <div class="espresso-buttons">

                       <button type="button"  id="espresso-addToCart-Button" onClick="alertMessage()">Add to Cart</button>

                   </div>
               </div>
               <!-- Purchase Buuton-->

           </div>
        </div>

    </div>



    <div class="machiatto-coffee">
        <div class="machiatto-details">
          <img th:src="@{/img/machiatto.jpg}" class="machiatto-image" alt="machiatto-image-indisponible">
            <div class="machiatto-title">
                Machiatto

                <div class="machiatto-info">
                    <ul>
                        <li>
                            espresso =  1 cup (60 ml)
                        </li>
                        <li>
                               frothed milk
                        </li>
                        <li>
                            1 glass of Machiatto = 10 RON
                        </li>
                    </ul>
                    <div class="machiatto-buttons">

                        <button type="button"  id="machiatto-addToCart-Button" onClick="alertMessage()">Add to Cart</button>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--Creating the navigation menu between catalog pages -->
    <div class="catalog-navigation-pages">
        <div class="page-numbers">
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <a th:href="@{/homePage/catalogPage1}" class="page-numbers-style">1</a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <a th:href="@{/homePage/catalogPage2}" class="page-numbers-style">2</a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <a th:href="@{/homePage/catalogPage3}" class="page-numbers-style">3</a> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <a th:href="@{/homePage/catalogPage4}" class="page-numbers-style">4</a>
        </div>
    </div>

</div>


</body>
</html>