<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log In Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/homePageStyle.css}">
    <link rel="stylesheet" th:href="@{/css/loginPageStyle.css}">
</head>
<body>
<div class="homepage">
    <nav>
        <div class="coffeeshoplogo">
            <img th:src="@{/img/CoffeeLogo.jpg}" class="logo-img">
            ~ Coffee Shop ~
        </div>
        <ul class = "navigation-options">
            <li><a th:href="@{/homePage}">Catalog</a></li>

            <li>
                <img th:src="@{/img/download.png}" class="cart-picture">
                <a href="#">My Cart</a>
            </li>
            <li>
                <img th:src="@{/img/contact_img.png}" class="contact-picture">
                <a th:href="@{/homePage/contactPage}">Contact</a>
            </li>
            <li>
                <img th:src="@{/img/login.png}" class="login-picture">
                <a th:href="@{/homePage/loginPage}">Log In</a>
            </li>
            <li>
                <img th:src="@{/img/register_logo.jpg}" class="register-logo">

                <a th:href="@{/homePage/registerPage}">Register</a>
            </li>

        </ul>
    </nav>

    <!-- Here I will add the Log in Form -->


    <div class="login-form">
       <div class="login-title">
           Log In
       </div>

        <form class="login-form-info" action="#" th:action="@{/homePage/process-login}" method="post"  th:object="${customer}">
          <label for="LogInusername" class="UsernameAndPassword">Username</label>
          <input type="text" id="LogInusername" th:field="*{username}" >
            <br><br>
            <label for="LogInpassword" class="UsernameAndPassword">Password</label>
            <input type="password" id="LogInpassword" name="LogInPassword"  th:field="*{password}">


            <div th:if="${param.error}" class="error-messages">
                Invalid Username and Password ~ Try Again or Register!
            </div>

            <br><br><br><br>
            <input type="submit" id="LogInsubmit">

        </form>

        <div class="no-account">
            Don't have an account ?
             &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
            <a th:href="@{/homePage/registerPage}" id="RegisterHereLink">Register Here</a>
        </div>
    </div>



</div>

</body>
</html>